
nav{
text-align: center;
font-size: 45px;
font-weight: bold;
}
#shopping_list{
display: inline-block;
 text-align: center;
 width: 515px;
height: 75px;
border: 10px solid;
border-radius: 10px;
margin-right: 20px;
margin-bottom: 20px;
position: absolute;
left: 75px;
top:  350px;
}
table, td, th {
 border: 1px solid black;
}
td {
 height: 30px;
vertical-align: bottom;
}


